extends ../../layouts/default.pug

block main 
    h1  Chi tiết sản phẩm
    div(style="margin-left: 200px;" class="mt-4")
        if(role.title) 
            div(class="title mb-4" style="font-size: 24px;") Tiêu đề: #{role.title}
        if(role.description) 
            div(class="title mb-4" style="font-size: 24px;") Mô tả sản phẩm: !{role.description}
        br
        button(class=("btn btn-warning mb-4")) 
            a(href=`${prefixAdmin}/roles/edit/${role.id}` style="color: white;") Chỉnh sửa sản phẩm 